html, body, #root,.app, #map {
	height: 100%;
}

.app, #map {
  display:flex;
}

.location-menu{
  width:300px;
  height:100%;
  margin:20px;
}

#map {
	width:100%;
}

.location-menu-title{
	font-size: 20;
}